block config

doctype html
html(lang='en')
  head
    title #{title}
    meta(name='description' content=description)
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(charset='utf-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    
    link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/icons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/icons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/icons/manifest.json")
    link(rel="mask-icon", href="/icons/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/icons/favicon.ico")
    meta(name="msapplication-config", content="/icons/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=EB+Garamond|Petit+Formal+Script')
    // build:css /css/combined.css
    link(rel='stylesheet' href='/vendor/animate.css/animate.min.css')
    link(rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/index.css')
    // endbuild
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65596632-1', 'auto');
      ga('send', 'pageview');

    block head
  body
    //- .flash-bar-shown - this is a body class
    //-
      .flash-bar
        .flash-bar-content
          p.
            #[i.fa.fa-cutlery]
            &nbsp;

            We are opening a new location soon in Wayne, PA, on 522 West Lancaster Ave!

            &nbsp;
            #[i.fa.fa-cutlery]

            #[span.pull-right.close-btn &times;]
    nav.navbar-fixed-top
      button.btn.nav-toggle
        i.fa.fa-bars.fa-2x
      .container-fluid
        ul.nav
          li(class=page=='home'?'active':undefined)
            a(href="/") Home
          li(class=page=='dinner'?'active':undefined)
            a(href="/dinner") Dinner
          li(class=page=='lunch'?'active':undefined)
            a(href="/lunch") Lunch
          li(class=page=='specials'?'active':undefined)
            a(href="/specials") Specials
          li(class=page=='about'?'active':undefined)
            a(href="/about") About
          li(class=page=='press'?'active':undefined)
            a(href="/press") Press
          br
          li.btn-social-container
            a.btn-social(href="https://www.facebook.com/pages/Saffron-Indian-Kitchen/117740861611475")
              i.fa.fa-facebook
            a.btn-social(href="https://twitter.com/saffronofphilly")
              i.fa.fa-twitter
          li.close-sidebar
            a
              i.fa.fa-times
    .overlay
    block content
    .best-wrapper
      .best-badge
        img.img-responsive(src="https://i.imgur.com/nkOvARB.png")
        img.img-responsive(src="https://i.imgur.com/ZZYkNgY.png")
        img.img-responsive(src="https://i.imgur.com/j57VVyM.png")

    // build:js /js/combined.js
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/wow/dist/wow.min.js')
    script(src='/js/scripts.js')
    // endbuild

    // build:remove 
    script(src="/js/localhost.js")
    // endbuild 

    block scripts
