extends /_layout.jade

block config
  - page = 'home'
  - title = "Saffron Indian Kitchen | Authentic Cuisine in Ambler and Bala Cynwyd"
  - description = "Saffron offers a unique, modern experience in traditional Indian cuisine which will ensure that your dining experience one to remember."

block head
  meta(name="keywords" content="indian, kitchen, saffron, ambler, indian restaurant, philly, saffron of philly, indian kitchen, indian food")
  meta(property="fb:page_id" content="161553280541265")
  meta(property="og:title" content="Philly's Best Indian Cuisine - Saffron")
  meta(property="og:description" content="Saffron Indian Kitchen, located in Ambler, PA, offers a unique ambience which is reinforced by the friendly staff who aim to make your dining experience one to remember.")
  meta(property="og:url" content="http://www.saffronofphilly.com")
  meta(property="og:site_name" content="SaffronOfPhilly.com")
  meta(property="og:type" content="website")
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Restaurant",
      "url": "http://www.saffronofphilly.com",
      "menu": "http://www.saffronofphilly.com/dinner",
      "servesCuisine": "indian",
      "acceptsReservations": "Yes",
      "email": "mailto:saffronbala@gmail.com",
      "photo": "https://i.imgur.com/wZ7jL14.jpg",
      "logo": "https://pbs.twimg.com/profile_images/612714669200023552/vkpmXhou.png"
    }
  // build:css /css/home-combined.css
  //- Page-specific styles (e.g. background slider, Caviar widget)
  link(rel="stylesheet" href="/css/home.css")
  // endbuild
    
block content
  .jumbotron#landing-jumbotron
    .container-fluid
      #landing
        #logo
          h1 Saffron
          h2.text-lowercase Indian Kitchen
        br
        a.location-link(href='/bala-cynwyd')
          span(style="font-variant: small-caps; text-transform: uppercase;") Bala Cynwyd
        p.address.
          145 Montgomery Ave.<br>
          Bala Cynwyd, PA 19004<br>
          484 - 278 - 4112
        a.doordash-widget(
          target='_blank'
          href="https://www.doordash.com/business/91666/?utm_source=partner-link&utm_medium=website&utm_campaign=91666"
          alt="Order Food Delivery with DoorDash"
          title="Order Food Delivery with DoorDash"
        ) Order Food Delivery with DoorDash
        .caviar-container
          .caviar-merchant-widget-disc-1
            .caviar-merchant-widget-content(style="text-align: center;")
              a.caviar-merchant-widget-link-disc-1(
                target="_blank"
                href="https://www.trycaviar.com/t/main-line/saffron-indian-kitchen-4427?groups=f_online__d_dwidget-3-disc-1__p_marketing__c_merchant-links&utm_medium=localmarketing&utm_source=widget&utm_campaign=saffron-indian-kitchen-4427&utm_term=main-line&utm_content=saffron-indian-kitchen-4427&cvosrc=localmarketing.widget.saffron-indian-kitchen-4427&cvo_campaign=saffron-indian-kitchen-4427"
              )
                span Saffron Indian Kitchen, delivered by Caviar
        br
        a.location-link(href='/ambler')
          span(style="font-variant: small-caps; text-transform: uppercase;") Ambler
        p.address.
          60 E. Butler Ave.<br>
          Ambler, PA 19002<br>
          215 - 540 - 0237
        a.doordash-widget(
          target='_blank'
          href="https://www.doordash.com/business/91666/?utm_source=partner-link&utm_medium=website&utm_campaign=91666"
          alt="Order Food Delivery with DoorDash"
          title="Order Food Delivery with DoorDash"
        ) Order Food Delivery with DoorDash
        div#ubereats
          a(
            target='_blank'
            href='https://www.ubereats.com/stores/8acb20c2-4f77-4267-b768-3b5937b1fbc4/'
          )
            img(src='https://i.imgur.com/KClq2hY.png')
        br
        a.location-link(href='/wayne')
          span(style="font-variant: small-caps; text-transform: uppercase;") Wayne
        p.address.
          522 W. Lancaster Ave.<br>
          Wayne, PA 19087<br>
          610 - 254 - 9100
        a.doordash-widget(
          target='_blank'
          href="https://www.doordash.com/business/91666/?utm_source=partner-link&utm_medium=website&utm_campaign=91666"
          alt="Order Food Delivery with DoorDash"
          title="Order Food Delivery with DoorDash"
        ) Order Food Delivery with DoorDash
        div.caviar-container
          .caviar-merchant-widget-disc-1
            .caviar-merchant-widget-content(style="text-align: center;")
              a.caviar-merchant-widget-link-disc-1(
                target="_blank"
                href="https://www.trycaviar.com/t/main-line/saffron-indian-kitchen--wayne-6300?groups=f_online__d_dwidget-4-disc-1__p_marketing__c_merchant-links&how=delivery&utm_medium=localmarketing&utm_source=widget&utm_campaign=saffron-indian-kitchen--wayne-6300&utm_term=main-line&utm_content=saffron-indian-kitchen--wayne-6300&cvosrc=localmarketing.widget.saffron-indian-kitchen--wayne-6300&cvo_campaign=saffron-indian-kitchen--wayne-6300&cav_source=saffron-indian-kitchen--wayne-6300&cav_medium=widget"
              )
                span Saffron Indian Kitchen - Wayne, delivered by Caviar
        br
        p.
          #[span(style='font-variant: small-caps;') restaurant hours:]
          <br>
          Mon - Fri: 11:30 AM - 9:30 PM<br>
          Sat - Sun: 12:00 PM - 9:30 PM
        
    //- Visit the twitter bot so it doesn't sleep
    //- iframe(src="http://saffrontweets-leungenterprises.rhcloud.com/" width='0' height='0' frameheight='0' framewidth='0' frameborder='0' style='margin: 0;padding: 0; visibility: hidden;')
  #leungenterprises.hidden-xs.
    #[a(href="https://www.leungenterprises.com" target="_blank") Web Design] by
    #[a(href="https://www.leungenterprises.com" target="_blank") Leung Enterprises]

block scripts
  script(src='https://d2nslu7z045kl0.cloudfront.net/caviar-widgets-v3.js')
  script.
    /* Mini jQuery BG Slider */
    var bgSlider=function(e){"undefined"==typeof e&&(e={}),"undefined"==typeof e.images&&(e.images=["http://i.imgur.com/gz0Yq3E.jpg","http://i.imgur.com/e3Fjb93.jpg","http://i.imgur.com/8FoJQYg.jpg"]),"undefined"==typeof e.el&&(e.el="body"),"undefined"==typeof e.animDuration&&(e.animDuration=1e3),"undefined"==typeof e.slideDuration&&(e.slideDuration=5e3),e.slideDuration<1.5*e.animDuration&&jQuery.error("The slide duration must be at least 50% longer than the animation duration."),e.images.length<2&&jQuery.error("You must select at least two images.");var i=e.images;for(var t in i)$(e.el).append('<div class="bg-slider-img", id="img'+t+'"></div>'),$("#img"+t).css("background-image",'url("'+i[t]+'")'),$("#img"+t).css("left",String(100*t)+"%");var n=0,a=function(){$(".bg-slider-img").animate({left:"-=100%"},e.animDuration,function(){if((n-(i.length-1))%i.length===0){var e=(n-(i.length-1))/i.length%i.length;$("#img"+e).css("left",String(100*(i.length-1))+"%")}n=(n+1)%(i.length*i.length)})};setInterval(a,e.slideDuration)};
  script.
    /* IE-specific code */
    (function(){
      function msieversion() {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
          var css = "<style>" +
                      "#landing-jumbotron {" +
                          "display: block;" +
                          "margin: 0 auto;" +
                          "width: 40%;" +
                          "background: transparent" +
                      "}" +
                    "</style>";
          console.log(css);
          $('head').append(css);
        }
      }
      msieversion();
    })();
  script.
    // Wrap in IIFE to avoid polluting global scope
    (function() {
      var mobile = window.innerWidth < 768;
      if (!mobile) {
        bgSlider({images:['./img/food/naan.jpg', 'http://i.imgur.com/wZ7jL14.jpg', 'http://i.imgur.com/BJJmvlr.jpg']});
      } else {
        /* Mobile fallback */
        $('#landing-jumbotron').css('background', 'url("./img/food/naan.jpg")');
        $('#landing-jumbotron').css('background-size', 'cover');
        $('#landing').css('margin-top', '48px');
      }
    })();
